{% extends "page/base.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <a class="btn btn-info btn-sm" href="{% url 'coordenador-update' object.id %}"><span class="material-icons">edit</span></a>
            <a class="btn btn-danger btn-sm ml-2" href="{% url 'coordenador-delete' object.id %}"><span class="material-icons">clear</span></a>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span class="material-icons">assignment_ind</span> {{ object.user.username }}</legend>
            <p><span class="material-icons">mail</span> {{ object.user.email }}</p>
    </div>
{% endblock content %}