{% extends "page/base.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            {% if user.is_staff %}
                <a class="btn btn-info btn-sm mb-4" href="{% url 'disciplina-create' curso.id %}"><span class="material-icons">add</span></a>
            {% endif %}
            <legend class="border-bottom mb-4">Disciplinas de {{ curso }}</legend>
            <table class="table table-bordered">
                {% for disciplina in disciplinas %} 
                <tr>
                    <td>
                        <a href="{% url 'disciplina-detail' disciplina.id %}"><span class="material-icons">book</span> {{ disciplina.nome }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
    </div>
{% endblock content %}