{% extends "page/base.html" %}
{% block content %}
{% if curso != None and turno != None and aula != None and disciplina != None %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Dados sobre a aula atual</legend>
        <table class="table table">
            <tr>
                <td>
                    <span class="material-icons">source</span>
                </td>
                <td>
                    Curso
                </td>
                <td>
                    {{ curso }}
                </td>
            </tr>
            <tr>
                <td>
                    <span class="material-icons">book</span>
                </td>
                <td>
                    Disciplina
                </td>
                <td>
                    {{ aula.disciplina }}
                </td>
            </tr>
            <tr>
                <td>
                    <span class="material-icons">schedule</span>
                </td>
                <td>
                    Turno
                </td>
                <td>
                    {{ turno }}
                </td>
            </tr>
        </table>
        {% if presenca_anterior == 0 and presenca_registrada == False %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group text-center">
                    <button class="btn btn-outline-info" type="submit">Registrar presença</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
    </div>
{% endblock content %}
