{% extends "page/base.html" %}
{% block content %}
<form method="POST" action="{% url 'filtrarPresenca' %}">
    {% csrf_token %}
    <div class="form-group text-center">
        <button class="btn btn-outline-info" type="submit">Voltar</button>
    </div>
</form>
{% if presencas != None %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span class="material-icons">check_circle</span> Lista de presença</legend>
            <p><span class="material-icons">assignment</span> {{ disciplina }}</p>
            <p><span class="material-icons">calendar_today</span> {{ data|date:"d F, Y" }}</p>
            <p><span class="material-icons">schedule</span> {{ turno }}</p>
            <table class="table table-responsive">
            <table class="table table-bordered">
                {% for presenca in presencas %} 
                <tr>
                    <td>
                        <span class="material-icons">person</span> {{ presenca.estudante.user.first_name }} {{ presenca.estudante.user.last_name }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
    </div>
{% endif %}
{% endblock content %}

